@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
:root {
    --backgroundcolor:255, 255, 255;
    --color3:237, 238, 255;
    --currentpage: 239, 51, 91;
    --navycolor: 0, 0, 140;
    --secondaycolor: 239, 51, 101;
    --navbuttonhover: 219,51,91;
}
/* Reset default browser styles */
html { scroll-behavior: smooth;}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*outline: 1px solid red !important;*/
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(var(--backgroundcolor), 1);
    font-family: "Montserrat";
}
img#checkmark {
    width: 50px;
    height: auto;
}
.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Add this line */
    flex-wrap: wrap; /* Add this line */
    padding-top: 0px;
}

.container > div {
    width: 100%; /* Change this line */
    margin-bottom: 10px;
}

p {
    font-size: 16px;
}

a {
    color: #007bff;
    cursor:pointer;
}

/* Add more styles as needed */
/*navbar*/
header {
    top: 0;
    position: sticky;
    background-color: white;
    padding-bottom: 0px;
    margin: 0px;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background-color: white;
    gap: 20px;
    margin-right: 10%;
}
nav a {
    text-decoration: none;
    color: rgba(var(--navycolor), 1);
    text-emphasis: bold;
    font-weight: 600;
}
nav button {
   width: 100%;
   cursor:pointer;

}
nav a:hover {
    background-clip: content-box;
    color: rgba(var(--secondaycolor), 1);
    text-decoration: underline;
}

nav a#currentpage {
    color: rgba(var(--currentpage), 1);
}
nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
}
#navbtns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
button{
    background-color: rgba(var(--secondaycolor), 1);
    border: 1px solid rgba(255,255,255, 1);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    width: auto;
    height: 100%;
}
button.donate {
    background-color: rgba(var(--navycolor), 1);
}
button:hover {
    background-image: linear-gradient(rgb(0 0 0 / 20%) 0 0);
}

#calltoaction {
    background-color: rgba(var(--color3), 1);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}

#calltoactiontext {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: rgba(var(--navycolor), 1);
    padding:10px;
    width: 40%;
    gap: 20px;
}

#calltoactionpicture{
    padding: 20px;
    text-align: right;
}
#calltoactionpicture img {
    height: 796px;
    width:700px;
    border-radius: 20px;
}
#calltoactiontext #winwithvivian {
    font-weight: 800;
    font-size: 78px;
    text-emphasis: bold;    
    line-height: 1;
}
#calltoactiontext .smallparagraph {
    text-align: left;
    color:black;
} 
#calltoactionbuttons {
    flex-direction: row;
    justify-content: space-evenly;
}
#calltoactionbuttons button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    color: white;
    font-size: 19.2px;
    font-weight: 600;
    line-height: 23.4px;
    cursor: pointer;
    height: 100%;
}
#calltoactionform {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.smallred {
    color: red;
    font-size:19.2px;
    font-weight: 600;
    line-height: 23.4px;
}
.smallparagraph{
    font-size:16px;
    font-weight: 600;
    line-height: 23.4px;
}
#about{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding: 40px;
}
#about .smallred{
    padding-bottom: 0px;
}
#aboutpicture{
    height: 100%;
    text-align: center;
    border-radius: 20px;

}
#aboutpicture img {
    width: 700px;
    height: 1049px;
    border-radius: 20px;
}
#abouttextandpoints {
    flex-direction: column;
    width: 40%;
    align-items: center;
    padding-top: 20px;
    height: 40%;
    
}
#abouttext{
    padding-top:0px;
}
#aboutpoints{
    padding-top:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size:19.2px;
    font-weight: 600;
    gap: 25px;
    line-height: 10.4px;
}

.points {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.points img {
    height:90px;
    width: 90px;
}


.blueheader{
    /*styleName: H2;*/
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 800;
    line-height: 80.64px;
    text-align: left;
    color: rgba(var(--navycolor), 1);
}
#concernspicture {
    display: flex;
    text-align: right;
    padding: 20px;
    height: 100%;
    justify-content: center;
}
#concernspicture img {
    height: 700px;
    width: 739px;
    text-align: right;
    justify-content: right;
    border-radius: 20px;
}
#mvconcernissues {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(var(--color3), 1);
    width: 100%;
    gap:0px;
    border-radius: 20px;
    margin:0px;
}
#ConcernsIssues {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 40%;
    padding: 20px;
    text-align: left;
}
#ConcernsIssues button {
    width: 100%;
    height: auto;
    text-align: left;
    background-color: rgba(var(--color3), 1);
    color: rgba(var(--navycolor), 1);
    border: 1px solid rgba(var(--navycolor), 1);
    border-radius: 10px;
    font-size:19.2px;
    font-weight: 600;
    line-height: 23.4px;
}
.DropDownText {
    text-align: left;
    background-color: white;
    color: black;
    border-radius: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    display: none;
    padding: 40px;
}
.DropDownHeader:after {
    content: image-set("plus.png"); /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: rgba(var(--secondaycolor), 1);
    float: right;
    margin-left: 5px;
}
  .active:after {
    content: image-set("minus.png"); /* Unicode character for "minus" sign (-) */
}
#ConcernsIssues button:hover {
    color: rgba(var(--navbuttonhover), 1);
}
#volunteernow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: rgba(var(--navycolor), 0.8);
    width: 100%;
    color: white;
    border-radius: 20px;
}
#volunteertxt {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 20px;
}
#volunteertext p {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 19.2px;
    font-weight: 600;
    line-height: 23.4px;
    text-align: left;
    gap: 20px;
}
#volunteerheader p {
    font-size: 67.2px;
    font-weight: 800;
    line-height: 80.64px;
    text-align: left;
}
#volunteernow img {
    height: 510px;
    width: 382px;
    max-width: fit-content;
}
#volunteerform {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#emailform {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: left;
}
#emailform * {
    height:64px;
    width: 208px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.84px;
    text-align: left;
    padding-left: 10px;

}
#emailform button {
    height:64px;
    width: 228px;
    border-radius: 10px;
}
#inputs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#donatesct {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    color: white;
    padding-bottom: 30px;
    margin-left: 5%;
}
#donate {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    gap:0px;
    background-color: rgba(var(--secondaycolor), 1);
    border-radius: 10px;
    padding-bottom: 40px;
    padding-top: 40px;
}
#donatetxt {
    width: 40%;
    padding-top: 0px;
    background-color: rgba(var(--secondaycolor), 1);
    color: white;
}
#donateheader {
    font-size: 67.2px;
    font-weight: 800;
    line-height: 80.64px;
}
#donateparagraph {
    font-size: 19.2px;
    font-weight: 600;
    line-height: 23.4px;
}
#donateform {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 40%;
    background-color: rgba(var(--secondaycolor), 1);
    height: 100%;
    font-size: 19.2px;
    font-weight: 700;
    line-height: 23.4px;
    text-align: left;
}
#emailform{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;

}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    padding-top: 10px;
    background-color: rgba(var(--navycolor), 1);
    color: white;
    width:100%;
    border-radius: 20px;
    padding-right: 50px;
    padding-left: 50px;
}
#FooterText {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    width: 100%;
    gap: 20px;
}
#FooterColumns {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    gap:50px;
    justify-content: space-between;
}
#FooterColumns img {
    background-color: white;
    border-radius: 10px;
    height: 80px;
    width: auto;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 5px;
    
}
footer {
    background-color: rgba(var(--navycolor), 1);
    color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-between;
    text-align: left;
    width: 100%;
}
footer hr {

    border: 1px solid white;
}
footer a:hover {
    background-clip: content-box;
    color: rgba(var(--secondaycolor), 1);
    text-decoration: underline;
}
footer a {
    padding: 5px;
    color: white;
    font-weight: 700;
    font-size: 12px;
    line-height: 21.45px;
    text-decoration: none;
}
#Contact li{
    font-weight: 700;
    font-size: 10px;
    line-height: 21.45px;
    text-decoration: none;
}
#copyright{
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
#copyright p {
    font-size: 10px;
    width: 100%;
    justify-content: center;
}
#socialmedia{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#socialmediaicons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
#socialmedia a {
    height: 25px;
    width: 25px;
}
#FooterColumns #Issues {
    display:none;
}
@media only screen and (max-width: 760px) {
    * {
        max-width: 100% !important;
    }
    img {
        max-width: 100% !important;
    }
    body{
        padding: 0px;
    }
    .container{
        padding: 0px;
    }
    #calltoaction{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    #calltoactiontext{
        width: 80%;
        padding: 20px;
    }
    #calltoactionbuttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #calltoaction button{
        height: 100%;
    }
    #about{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    #abouttextandpoints{
        width: 90%;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    #aboutpicture img{
        display: none;
    }
    .points{
        gap:0px;
        line-height: 1.5;
    }
    #mvconcernissues{
        display: flex;
        flex-direction: column;
    }
    #ConcernsIssues{
        width: 90%;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
    #volunteernow{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

    }
    #volunteertxt{
        width: 100%;
    }
    #emailform{
        display: flex;
        flex-direction: column;
        text-align: right;
        width: 100%;
        
    }
    #donate{
        display: flex;
        flex-direction: column;
    }
}