@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
:root {
    --backgroundcolor:255, 255, 255;
    --color3:237, 238, 255;
    --currentpage: 239, 51, 91;
    --navycolor: 0, 0, 140;
    --secondaycolor: 239, 51, 101;
    --navbuttonhover: 219,51,91;
}
/* Reset default browser styles */
html { scroll-behavior: smooth;}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*outline: 1px solid red !important;*/
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(var(--backgroundcolor), 1);
    font-family: "Montserrat";
}
img {
    max-width: 90%;
    height: auto;
}
img#checkmark {
    width: 50px;
    height: auto;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Add this line */
    flex-wrap: wrap; /* Add this line */
}

.container > div {
    width: 100%; /* Change this line */
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

a {
    color: #007bff;
}

/* Add more styles as needed */
/*navbar*/
header {
    top: 0;
    position: sticky;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
}
nav a {
    text-decoration: none;
    color: rgba(var(--navycolor), 1);
    text-emphasis: bold;
    font-weight: 600;
    padding-left: 20px;
}
nav button {
   padding-left: 10px;
   width: 100%;

}
nav a:hover {
    background-clip: content-box;
    color: rgba(var(--secondaycolor), 1);
    text-decoration: underline;
}

nav a#currentpage {
    color: rgba(var(--currentpage), 1);
}
nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
nav ul li {
    margin-right: 5px;
}
button{
    background-color: rgba(var(--secondaycolor), 1);
    border: 1px solid rgba(255,255,255, 1);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    width: auto;
}
button.donate {
    background-color: rgba(var(--navycolor), 1)
}
button:hover {
    background-image: linear-gradient(rgb(0 0 0 / 20%) 0 0);
}

#calltoaction {
    background-color: rgba(var(--color3), 1);
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
#calltoactiontext {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: rgba(var(--navycolor), 1);
    padding:10px;
    width: 40%;
}
#calltoaction img {
    max-height: 700px;
}
#calltoactionpicture{
    width:40%;
    padding: 5px;
}
#calltoactiontext #winwithvivian {
    font-weight: 800;
    font-size: 78px;

    text-emphasis: bold;    line-height: 1;
}
#calltoactiontext .smallparagraph {
    font-size: small;
    text-align: left;
} 
#calltoactionbuttons {
    flex-direction: row;
}

.smallred {
    color: red;
    font-size:19.2px;
    font-weight: 600;
    line-height: 23.4px;
}
#about{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#about img {
    justify-content: center;
    align-items: center;
    width: 45%;
    height: auto;

}
#abouttextandpoints {
    flex-direction: column;
    width: 50%;
    align-items: center;
    
}
#aboutpoints{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:auto;
    padding: 40px;
}

#points {
    align-items: center;
}

.blueheader{
    /*styleName: H2;*/
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 800;
    line-height: 80.64px;
    text-align: left;
    color: rgba(var(--navycolor), 1)
}
#mvconcernissues {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#missionvisionpoints {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
}
.missionpoints {
    background-color: rgba(var(--navycolor), 1);
    color: white;
    border-radius: 10px;
    padding: 20px;
    
}
.missionpoints a {
    color: rgba(var(--secondaycolor), 1);
    text-decoration: none;
}
.visionpoints {
    background-color: rgba(var(--secondaycolor), 1);
    color: white;
    border-radius: 10px;
    padding: 20px;
}
.visionpoints a {
    color: white;
    text-decoration: none;
}
.arrowtext {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.miniheader {
    font-size: 30px;
    font-weight: 800;
    line-height: 48.24px;
    text-align: left;
    color: white;
}
#donatesct {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 10px;
    background-color: rgba(var(--navycolor), 1);
    color: white;
    width:100%;
}
#FooterColumns {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap:50px;
}
#FooterColumns img {
    background-color: white;
    border-radius: 10px;
    height: 218px;
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    
}
footer {
    background-color: rgba(var(--navycolor), 1);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-between;
    text-align: left;
}
footer hr {

    border: 1px solid white;
}
footer a:hover {
    background-clip: content-box;
    color: rgba(var(--secondaycolor), 1);
    text-decoration: underline;
}
footer a {
    padding: 5px;
    color: white;
    font-weight: 700;
    font-size: 10px;
    line-height: 21.45px;
    text-decoration: none;
}
#Contact li{
    font-weight: 700;
    font-size: 10px;
    line-height: 21.45px;
    text-decoration: none;
}
#copyright{
    width: 100%;
    justify-content: center;
    align-items: center;
}
#copyright p {
    font-size: 10px;
    width: 100%;
    justify-content: center;
}
#socialmedia{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#socialmedia a {
    height: 25px;
    width: 25px;
}