@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
:root {
    --backgroundcolor:255, 255, 255;
    --color3:237, 238, 255;
    --currentpage: 239, 51, 91;
    --navycolor: 0, 0, 140;
    --secondaycolor: 239, 51, 91;
    --navbuttonhover: 219,51,91;
}
html { scroll-behavior: smooth;}
img {
    border-radius: 5px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
button {
    text-decoration: none;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
#aboutpicture img {
    display: none;
}
#calltoactionpicture img {
    height: 227px;
    width:200px;
}
#concernspicture img {
    height: 190px;
    width: 200px;
}
#volunteernow img {
    height: 267px;
    width: 200px;
    max-width: fit-content;
}
header img {
    width: 90px;
    height: 57px;
    border-radius: 5px;
    padding: 20px;
}
.points img {
    height: 90px;
    width: 90px;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}
form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0px;
    width: 100%;
}
.section1background{
    background: rgba(var(--color3), 1);
    padding-top: 50px;
    padding-bottom: 50px;
}
p {
    font-family: Montserrat;
    color: black;
    font-size: 16px;
    font-weight: 600;
    line-height: 27.84px;
    text-align: left;
}
h1 {
    font-family: Montserrat;
    font-size: 16.2px;
    font-weight: 600;
    line-height: 23.4px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}
h2 {
    font-family: Montserrat;
    font-size: 63px;
    font-weight: 800;
    line-height: 75.6px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}
h3 {
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 800;
    line-height: 80.4px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}
h4 {
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 800;
    line-height: 60.4px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}
.red {
    color: rgba(var(--secondaycolor), 1);
}
.blue {
    color: rgba(var(--navycolor), 1);
}
.bluebackground {
    background: rgba(var(--navycolor), 1);
    color: white;
}
.redbackground {
    background: rgba(var(--secondaycolor), 1);
    color: white;
}
.checkmark {
    font-family: Montserrat;
    height: 60px;
    width: 60px;
    text-align: left;
}
.donate {
    background-color: rgba(var(--navycolor), 1);
}
.dropdownheader {
    color: white;
}
.dropdownheader:after {
    color: white;
}
.dropdownheader:hover {
    color: white;
}
.dropdownheader:hover:after {
    color: white;
}
.dropdownheader:focus {
    color: white;
}
button{
    padding: 10px;
    width: auto;
    font-family: Montserrat;
    font-size: 16.2px;
    font-weight: 600;
    line-height: 23.4px;
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: rgba(var(--secondaycolor), 1);
    color:#FFFFFF;
    border-radius: 5px;
    border: 2px solid white;
}
button:hover {
    background-image: linear-gradient(rgb(0 0 0 / 20%) 0 0);
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: #FFFFFF;
    padding-top: 10px;
    gap: 15px;
    top: 0;
    position: sticky;
    padding-bottom: 0px;
    margin: 0px;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}
header a {
    gap: 0px;
    opacity: 0px;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 16.2px;
    font-weight: 600;
    line-height: 23.4px;
    text-align: left;
}
header #currentpage {
    color: rgba(var(--currentpage), 1);
}
header form {
    width: auto;
    display: flex;

}
#metabuttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav form button {
    width: 100%;
    padding-right: 20px;
}
nav ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style-type: none;
}
#calltoactionbuttons button {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#aboutpoints {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
#volunteernow {
    display: flex;
    gap: 40px;
}
#inputs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}
#inputs input {
    height: 64px;
    width: 40%;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.84px;
}
#inputs button {
    height: 64px;
    width: 60%;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 400;
    line-height: 27.84px;
}
#concernsissuesdropdowns {
    justify-content: space-evenly;
    gap: 20px;
}
#collapsibles {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#issues {
    display: none;
}

footer {
    background-color: rgba(var(--navycolor), 1);
    color: white;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-between;
    text-align: left;
    width: 80%;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
}
footer img#logo {
    background-color: white;
    padding: 10px;
}
#footertext {
    display: flex;
    flex-direction: column;
}
.dropdowntext {
    text-align: left;
    background-color: white;
    color: black;
    border-radius: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    display: none;
    padding: 40px;
}
.dropdownheader:after {
    content: image-set("plus.png"); /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: rgba(var(--secondaycolor), 1);
    float: right;
    margin-left: 5px;
}
.active:after {
    content: image-set("minus.png"); /* Unicode character for "minus" sign (-) */
}
#concernsissues button:hover {
    color: rgba(var(--navbuttonhover), 1);
}
#donate {
    display: flex;
    gap: 20px;
}
#donate * {
    color: white;
}
#donateform {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}
.footerlinks {
    font-family: Montserrat;
    text-align: left;
    width: 100%;
}
#footercolumns {
    width: 100%;
}
#upperfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
footer hr {
    border: 1px solid white;
}
footer a:hover {
    background-clip: content-box;
    color: rgba(var(--secondaycolor), 1);
    text-decoration: underline;
}
footer a {
    padding: 5px;
    color: white;
    font-weight: 700;
    font-size: 12px;
    line-height: 21.45px;
    text-decoration: none;
}
#contact li{
    text-decoration: none;
    font-weight: 700;
    font-size: 10px;
    line-height: 21.45px;
}
#copyright{
    width: 100%;
    align-items: center;
    text-align: center;
}
#copyright p {
    font-size: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    color: white;
}
#socialmedia{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#socialmediaicons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
#socialmedia p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
}
#socialmedia img {
    height: 15px;
    width: 15px;
}


@media (min-width:320px) { 
    #calltoactionpicture img {
        height: 341px;
        width:300px;
    }
    #concernspicture img {
        height: 284px;
        width: 300px;
    }
    #volunteernow img {
        height: 401px;
        width: 300px;
    }
    #footercolumns img {
        height: 50px;
        width: 50px;
    }
    
    
}
/* Extra small devices */
@media only screen and (min-width: 480px) {
    #calltoactionpicture img {
        height: 523px;
        width:460px;
    }
    #concernspicture img {
        height: 436px;
        width: 460px;
    }
    #volunteernow img {
        height: 614px;
        width: 460px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
    #calltoactionpicture img {
        height: 660px;
        width:580px;
    }
    #concernspicture img {
        height: 550px;
        width: 580px;
    }
    
    #volunteernow img {
        height: 774px;
        width: 580px;
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){
    #volunteernow img {
        height: 999px;
        width: 748px;
    }
    #concernspicture img {
        height: 709px;
        width: 748px;
    }
    #calltoactionpicture img {
        height: 851px;
        width:748px;
    }
    img#logo {
        width: 100px;
        height: 80px;
    }

}

/* Large devices (laptops/desktops, 992px and up)*/
@media only screen and (min-width: 992px) {
    #calltoactionpicture img {
        height: 523px;
        width:460px;
    }
    #concernspicture img {
        height: 436px;
        width: 460px;
    }
    #volunteernow img {
        height: 614px;
        width: 460px;
    }
    section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        gap: 70px;
    }
    #aboutpicture img {
        display: block;
        height: 690px;
        width: 460px;
    }
    #calltoactiontext {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 40%
    }
    #abouttextandpoints {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 40%;
    }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {
    #calltoactionpicture img {
        height: 660px;
        width:580px;
    }
    #concernspicture img {
        height: 550px;
        width: 580px;
    }
    #volunteernow img {
        height: 774px;
        width: 580px;
    }
    #aboutpicture img {
        height: 870px;
        width: 580px;
    }
    #donate {
        width: 60%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 50px;
    }
    section {
        padding-right: calc(15px + (100vw - 1200px) * (15 - 30) / (1200 -  1250));
    }
}*/